header {
    background-color: brown;
    color: black;
    padding: auto;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    font-size: 22px;
}

nav ul {
    padding: 30px;
}

nav ul li {
    display:inline;
    margin-right: 100px;
}

nav ul li a {
    color:black ;
    text-decoration: none;
}

.texto {
    background-color: brown;
    padding: 5px;
    display: inline-block;
    border-radius: 10px;
}

body {
    margin: 10;
    padding: 0;
    font-family: Arial, sans-serif;
    
}

.texto {
    background-color: rgba(164, 51, 51, 0.9); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra */
    display: inline-block; 
    text-align: center;
    margin-top: 10px;
}

